---
import Layout from "../layouts/Layout.astro";
import ProjectGrid from "../components/project-grid/ProjectGrid.astro";
import { Image } from "astro:assets";

import javascript from "../assets/skills/javascript.svg";
import typescript from "../assets/skills/typescript.svg";
import react from "../assets/skills/react.svg";
import nextjs from "../assets/skills/nextjs.svg";
import astro from "../assets/skills/astro.svg";
import nodejs from "../assets/skills/nodejs.svg";
import tailwind from "../assets/skills/tailwind.svg";
import mongodb from "../assets/skills/mongodb.svg";

import DonarImg from "../assets/donar-desktop-removebg.png";
import SynergiaImg from "../assets/synergia-desktop-removebg.png";
import Orbit4Img from "../assets/orbit4-desktop-removebg.png";

const accessKey = import.meta.env.WEB_3_EMAIL_ACCESS_KEY;
---

<Layout title="Tiziano's Portfolio">
    <!-- Section: HERO -->
    <section id="hero" class="bg-light text-dark items-center justify-center min-h-screen pb-0">
        <h1 class="title break-words w-full">Hey everyone!</h1>

        <div
            class="flex flex-col items-center justify-center gap-10 w-full lg:w-1/2"
        >
            <p class="">
                Hi everyone! my name is <b>Tiziano</b>, I&apos;m a 20 year old
                <b>developer</b> who's passionate for creating functional good-looking
                websites!
            </p>
            <div class="relative h-10 w-96 shadow-lg">
                <div class="gradient-bg"></div>
            </div>
        </div>
    </section>

    <!-- Section: Skills -->
    <section id="skills" class="bg-light text-dark items-center">
        <h1 class="title break-words w-full">My favorite tools!</h1>

        <div
            class="relative h-48 w-full lg:w-1/2 md:h-96 grid grid-cols-4 grid-rows-2 gap-1 lg:gap-2 p-2 rounded-sm text-sm"
        >
            <div class="gradient-bg"></div>
            <div
                class="bg-white h-full w-full flex items-center justify-center z-10 shadow-lg"
            >
                <Image
                    src={javascript}
                    alt={"JavaScript"}
                    width={40}
                    height={40}
                    class={"skill-img"}
                />
            </div>
            <div
                class="bg-white h-full w-full flex items-center justify-center z-10 shadow-lg"
            >
                <Image
                    src={typescript}
                    alt={"TypeScript"}
                    width={40}
                    height={40}
                    class={"skill-img"}
                />
            </div>
            <div
                class="bg-white h-full w-full flex items-center justify-center z-10 shadow-lg"
            >
                <Image src={react} alt={"React"} width={40} height={40} class={"skill-img"}
                />
            </div>
            <div
                class="bg-white h-full w-full flex items-center justify-center z-10 shadow-lg"
            >
                <Image src={nextjs} alt={"NextJs"} width={40} height={40} class={"skill-img"}/>
            </div>
            <div
                class="bg-white h-full w-full flex items-center justify-center z-10 shadow-lg"
            >
                <Image src={astro} alt={"Astro"} width={40} height={40} class={"skill-img"}/>
            </div>
            <div
                class="bg-white h-full w-full flex items-center justify-center z-10 shadow-lg"
            >
                <Image src={nodejs} alt={"NodeJs"} width={40} height={40} class={"skill-img"}/>
            </div>
            <div
                class="bg-white h-full w-full flex items-center justify-center z-10 shadow-lg"
            >
                <Image src={mongodb} alt={"MongoDB"} width={40} height={40} class={"skill-img"}/>
            </div>
            <div
                class="bg-white h-full w-full flex items-center justify-center z-10 shadow-lg"
            >
                <Image
                    src={tailwind}
                    alt={"TailwindCSS"}
                    width={40}
                    height={40}
                    class={"skill-img"}
                />
            </div>
        </div>

        <style>
            .skill-img {
                @apply w-1/3 h-1/3 lg:w-1/4 lg:h-1/4;
            }
        </style>
    </section>

    <!-- Section: Projects -->
    <section id="projects" class="w-full bg-light text-dark justify-center items-center">
        <script>
            const carousel = document.querySelector(".carousel");
            const prevButton = document.querySelector(".prev");
            const nextButton = document.querySelector(".next");

            let index = 0;

            function updateCarousel() {
                if (carousel) {
                    carousel.style.transform = `translateX(-${index * 33.33}%)`;
                }
            }

            if (nextButton) {
                nextButton.addEventListener("click", () => {
                    index = (index + 1) % 3; // 3 is the number of items, osea que cuando llegue a 3 --> modulo de 3/3 = 0, se va a la primera
                    updateCarousel();
                });
            }

            if (prevButton) {
                prevButton.addEventListener("click", () => {
                    index = (index - 1 + 3) % 3; // 3 is the number of items, osea que cuando llegue a 0 --> modulo de (-1+3)/3 = 2, se va a la ultima
                    updateCarousel();
                });
            }
        </script>

        <h1 class="title">My work!</h1>

        <div
            class="w-full lg:w-1/2 flex flex-col justify-center gap-10 overflow-x-hidden"
        >
            <div
                style="width: 300%;"
                class="carousel grid grid-cols-3 md:min-h-96 transition-transform duration-300"
            >
                <ProjectGrid
                    title="DonAr"
                    technologies="React, NodeJS, ExpressJS, Mongoose, Javascript, HTML, CSS."
                    description="Don.Ar is a platform dedicated to connecting generous hearts with causes that really matter."
                    link="https://don-ar.com/"
                    notes={["Graduation work.", "Backend developer."]}
                >
                    <Image
                        src={DonarImg}
                        alt={"DonAr mockup"}
                        class={"object-contain"}
                    />
                </ProjectGrid>

                <ProjectGrid
                    title="Synergia"
                    technologies="NextJS, Tailwind, Mongoose, JavaScript, HTML."
                    description="Synergia is an innovative web application designed to connect and enhance collaboration between developers and organizations in the tech industry."
                    link="https://synergia-project.vercel.app/"
                    notes={["Personal project."]}
                >
                    <Image
                        src={SynergiaImg}
                        alt={"Synergia mockup"}
                        class={"object-contain"}
                    />
                </ProjectGrid>

                <ProjectGrid
                    title="Orbit4"
                    technologies="React, JavaScript, HTML, CSS."
                    description="Pure CSS Scroll based animated website experience set in outer space."
                    link="https://orbit4.vercel.app/"
                    notes={["Personal project."]}
                >
                    <Image
                        src={Orbit4Img}
                        alt={"Synergia mockup"}
                        class={"object-contain"}
                    />
                </ProjectGrid>
            </div>

            <div
                class="flex gap-5 lg:gap-20 w-full justify-center items-center py-2"
            >
                <button class="prev bg-dark button">Previous</button>
                <button class="next bg-dark button">Next</button>
            </div>
        </div>
    </section>

    <!-- Section: Contact -->
    <section id="contact" class="bg-light text-dark items-center">
        <h1 class="title">Contact me!</h1>
        <!-- Desktop -->
        <div
            class="relative w-full lg:w-1/2 flex items-center justify-center p-2"
        >
            <div class="gradient-bg"></div>

            <form
                action="https://api.web3forms.com/submit"
                method="POST"
                class="relative flex flex-col items-center gap-10 p-4 lg:p-8 bg-transparent shadow-lg rounded-md text-center bg-white"
            >
                <h1 class="font-extrabold text-2xl lg:text-3xl text-dark z-10">
                    Send me a message
                </h1>
                <input type="hidden" name="access_key" value={accessKey} />

                <div
                    class="flex flex-col w-full gap-6 text-lg text-dark italic z-10"
                >
                    <p class="leading-relaxed">
                        "Hey, my name is
                        <span>
                            <input
                                class="text-center border-b-2 border-dark focus:outline-none focus:border-primary transition-all duration-300 w-48"
                                type="text"
                                name="name"
                                id="name"
                                placeholder="(your name here)"
                                required
                            />
                        </span>
                        and my email
                        <span>
                            <input
                                class="text-center border-b-2 border-dark focus:outline-none focus:border-primary transition-all duration-300 w-64"
                                type="email"
                                name="email"
                                id="email"
                                placeholder="(your email here)"
                                required
                            />
                        </span>. I have an exciting <b>project/idea</b> that I'd
                        love to <b>bring to life</b> with your expertise. Here are
                        the details:
                    </p>

                    <div class="flex flex-col items-center w-full">
                        <textarea
                            class="w-full h-32 border-2 border-dark rounded-lg p-4 focus:outline-none focus:border-primary transition-all duration-300 resize-none"
                            placeholder="Describe your amazing idea here..."
                            name="message"
                            required></textarea>
                    </div>
                </div>

                <div class="flex flex-col items-center gap-3 z-10">
                    <button type="submit" class="button"> Send </button>
                    <a
                        href="mailto:tzndevv@gmail.com"
                        target="_blank"
                        class="text-sm text-primary hover:underline"
                    >
                        or send me an email.
                    </a>
                </div>
            </form>
        </div>
    </section>
</Layout>