---
import { ViewTransitions } from 'astro:transitions';
import Footer from '../components/footer/Footer.astro';
import Navbar from '../components/navbar/Navbar.astro';
import Menu from "../components/menu/Menu.astro";
import BackgroundSvg from "../assets/curve.svg"
import Image from 'astro/components/Image.astro';


interface Props {
	title: string;
	header: string;
}

const { title, header } = Astro.props;


---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/tiziano-logo.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body class="relative h-screen w-screen text-lg  font-normal lg:font-medium lg:text-xl leading-snug overflow-hidden">
		<!-- <Background /> -->
		<main class=" text-dark text-center bg-light">
			<Navbar />
			
			<Image src={BackgroundSvg} alt={"curve"} class={"hidden lg:block absolute bottom-0 left-0 w-full"}/>
			<div class="relative grid grid-rows-2 lg:grid-cols-2 h-full w-11/12 items-center pt-10 overflow-hidden">
				<!-- <Background /> -->
				
				<!-- Mobile -->
				<div class="relative grid row-span-2 grid-rows-6 grid-cols-subgrid h-full w-full items-center lg:hidden px-2">
					<h1 class="title text-center w-full self-center ">{header}</h1>
					<div class="flex-grow flex flex-col justify-center items-center w-full  self-center row-span-5">
						<slot name="mobile-content"/>
					</div>
				</div>
				
				<div class="hidden lg:grid row-span-2 col-span-2 grid-cols-subgrid grid-rows-subgrid h-full w-full items-center">
					<h1 class="title text-left self-start break-words">{header}</h1>
					
					<slot />
					
<!-- 					<div class="flex flex-col items-center justify-self-center self-end gap-5 row-start-2 col-start-1 col-span-2  text-light">
						<p class="animate-pulse w-full text-center text-sm text-black">Please use this menu to navigate across sections.</p>
						<Menu />
					</div> -->
				</div>
				
			</div>
			
			<div class="hidden lg:block w-full text-light">
				<Footer />
			</div>
			<div class="lg:hidden w-full  bg-dark text-light">
				<Menu />
			</div>
		</main>
	</body>
</html>


<style is:global>
	/* @import url("../../public/fonts/fira-sans/css/fira-sans.css"); */
	@font-face {
  font-family: 'CabinetGrotesk-Variable';
  src: url('/fonts/cabinet-grotesk/fonts/CabinetGrotesk-Variable.woff2') format('woff2'),
       url('/fonts/cabinet-grotesk/fonts/CabinetGrotesk-Variable.woff') format('woff'),
       url('/fonts/cabinet-grotesk/fonts/CabinetGrotesk-Variable.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}
	@font-face {
  font-family: 'FiraSans-Variable';
  src: url('/fonts/fira-sans/fonts/FiraSans-Variable.woff2') format('woff2'),
       url('/fonts/fira-sans/fonts/FiraSans-Variable.woff') format('woff'),
       url('/fonts/fira-sans/fonts/FiraSans-Variable.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}
	@font-face {
  font-family: 'Plein-Variable';
  src: url('/fonts/plein/fonts/Plein-Variable.woff2') format('woff2'),
       url('/fonts/plein/fonts/Plein-Variable.woff') format('woff'),
       url('/fonts/plein/fonts/Plein-Variable.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

	* ::selection {
		@apply	text-black bg-opacity-0;
	}

	body::-webkit-scrollbar {
		display: none;
	}

	body {
		font-family: Plein-Variable;
		word-spacing: 1px;
	}

	main {
		position: fixed;
		top: 0;
		left: 0;

		width: 100%;
		height: 100%;

		display: grid;
		grid-template-rows: 40px 4fr 1fr;
		grid-template-columns: 1fr;
		justify-content: center;
		justify-items: center;
	}

	mark, ins, b {
		@apply m-1 italic;
	}

	b, ins {
		@apply text-dark;
	}

	mark {
		@apply  bg-dark bg-opacity-70 px-2 py-1 m-1 italic;
	}

	input, textarea {
		@apply bg-transparent outline-0 italic  text-dark;
	}

	input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
		@apply  text-dark
	}
	input::placeholder, textarea::placeholder {
		@apply  text-dark;
	}

	.title {
		@apply text-7xl md:text-big lg:text-extra-big xl:text-giant font-extrabold tracking-tighter leading-none  text-dark
	}
	.page-content::-webkit-scrollbar {
		display: none;
	}
</style>
