---
import Layout from "./Layout.astro";

interface Props {
    projectTitle: string;
}

const { projectTitle } = Astro.props;

let next, prev;
next =
    projectTitle == "Donar"
        ? "synergia"
        : projectTitle == "Synergia"
          ? "orbit4"
          : "donar";
prev =
    projectTitle == "Donar"
        ? "orbit4"
        : projectTitle == "Synergia"
          ? "donar"
          : "synergia";
---

<Layout
    title={`Tiziano's portfolio | ${projectTitle} Project`}
    header="My work"
>
    <!-- Moble -->
    <div class="flex flex-col gap-10 h-full w-full" slot="mobile-content">
        <slot />
        <div
            class="flex gap-5 col-start-2 row-start-2 self-center justify-self-center"
        >
            <a
                class="text-sm w-32 py-3 bg-dark text-light rounded-md"
                href={`./${prev}`}>Previous</a
            >
            <a
                class="text-sm w-32 py-3 bg-dark text-light rounded-md"
                href={`./${next}`}>Next</a
            >
        </div>
    </div>

    <!-- Desktop -->
    <div
        class="flex gap-5 col-start-2 row-start-2 self-center justify-self-center"
    >
        <a
            class="text-xl w-52 py-3 bg-dark text-light rounded-md"
            href={`./${prev}`}>Previous</a
        >
        <a
            class="text-xl w-52 py-3 bg-dark text-light rounded-md"
            href={`./${next}`}>Next</a
        >
    </div>

    <div
        class="w-full flex flex-col gap-20 col-start-2 row-start-1 row-span-2 place-self-start h-2/3"
    >
        <slot />
    </div>
</Layout>
