---
import Background from "../background/background.astro";

interface Props {
    title: string;
    description: string;
    technologies: string;
    notes?: string[];
    link: string;
}

const {
    title,
    description,
    technologies,
    link,
    notes = [],
} = Astro.props;
---





<!-- Mobile -->
<div
    class="simple-project grid-cols-2 grid-rows-2 h-full w-full gap-2 text-sm overflow-hidden project-bento-grid "
>
    <div class="flex w-full h-full items-center justify-center bg-light bg-opacity-10">
        <div class="max-w-32 bg-transparent">
            <slot />
        </div>
    </div>
    <div class="text-xl text-detail bg-light bg-opacity-10">{title}</div>
    <div class="bg-light bg-opacity-10">{technologies}</div>
    <a
    target="_blank"
    href={link}
    class="bg-detail text-white text-lg"
>
    Visit
</a>
</div>



<!-- Desktop bento -->
<div
    class="complex-project grid-cols-4 grid-rows-4 h-full w-full gap-2 text-xs xl:text-sm overflow-hidden project-bento-grid"
>
    <div
        class="h-full w-full row-span-3 col-span-2 relative flex items-center justify-center bg-light bg-opacity-10"
    >
        <slot />
    </div>

    <div
        class="h-full w-full relative flex-col items-center justify-center lg:col-span-2 gap-2 bg-light bg-opacity-10"
    >
        <h1 class="text-2xl xl:text-5xl text-detail text-left">{title}</h1>
    </div>
    <a
        target="_blank"
        href={link}
        class="bg-detail col-span-2 text-white text-xl xl:text-3xl border-none"
    >
        Visit
    </a>
    <div class="h-full w-full relative flex-col items-center justify-center bg-light bg-opacity-10">
        <p class="w-full">{technologies}</p>
    </div>
    <div class="h-full w-full relative flex-col items-center justify-center bg-light bg-opacity-10">
        {
            Array.isArray(notes) &&
                notes.length > 0 &&
                notes.map((note) => <p class="">{note}</p>)
        }
    </div>

    <div
        class="relative flex flex-col justify-end w-full h-full text-left col-start-1 col-span-4 bg-light bg-opacity-10 "
    >
        <p class="w-full">{description}</p>
    </div>
</div>

<style>
    .project-bento-grid {
        padding: 10px;
/*         grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(4, 1fr); */
    }

    .project-bento-grid > * {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: 100%;
        width: 100%;
        border-radius: 10px;
        padding: 15px;
        /* border: 2px solid rgba(156, 156, 156, 0.205); */
        /* @apply box-border backdrop-contrast-200/* bg-light bg-opacity-0 */ /* shadow-lg */ 
    }
    
    .simple-project {
        display: grid;
    }

    .complex-project {
        display: none;
    }

    @media (min-height: 700px) and (min-width: 1200px) {

        .simple-project {
            display: none;
        }
        
        .complex-project {
            display: grid;
        }
    }
    
</style>
